USE [master]
GO
/****** Object:  Database [GaleriasConde]    Script Date: 08/06/2017 19:17:03 ******/
CREATE DATABASE [GaleriasConde]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GaleriasConde', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\GaleriasConde.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GaleriasConde_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\GaleriasConde_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GaleriasConde].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GaleriasConde]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 08/06/2017 19:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Artworks]    Script Date: 08/06/2017 19:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Artworks](
	[ArtworkID] [int] IDENTITY(1,1) NOT NULL,
	[onStock] [bit] NOT NULL,
	[img] [varbinary](max) NULL,
	[date] [nvarchar](max) NULL,
	[dimensions] [nvarchar](max) NULL,
	[Author_AuthorID] [int] NULL,
	[Type_TypeID] [int] NULL,
 CONSTRAINT [PK_dbo.Artworks] PRIMARY KEY CLUSTERED 
(
	[ArtworkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ArtworkTranslations]    Script Date: 08/06/2017 19:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtworkTranslations](
	[ArtworkID] [int] NOT NULL,
	[lang] [nvarchar](128) NOT NULL,
	[title] [nvarchar](max) NULL,
	[info] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ArtworkTranslations] PRIMARY KEY CLUSTERED 
(
	[ArtworkID] ASC,
	[lang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Authors]    Script Date: 08/06/2017 19:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[realName] [nvarchar](150) NULL,
	[artName] [nvarchar](150) NULL,
	[Nationality_NationalityID] [int] NULL,
 CONSTRAINT [PK_dbo.Authors] PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AuthorTranslations]    Script Date: 08/06/2017 19:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorTranslations](
	[AuthorID] [int] NOT NULL,
	[lang] [nvarchar](128) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AuthorTranslations] PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC,
	[lang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Langs]    Script Date: 08/06/2017 19:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Langs](
	[LangID] [int] IDENTITY(1,1) NOT NULL,
	[codLang] [nvarchar](max) NULL,
	[display] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Langs] PRIMARY KEY CLUSTERED 
(
	[LangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nationalities]    Script Date: 08/06/2017 19:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nationalities](
	[NationalityID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.Nationalities] PRIMARY KEY CLUSTERED 
(
	[NationalityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NationalityTranslations]    Script Date: 08/06/2017 19:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NationalityTranslations](
	[NationalityID] [int] NOT NULL,
	[lang] [nvarchar](128) NOT NULL,
	[codNation] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.NationalityTranslations] PRIMARY KEY CLUSTERED 
(
	[NationalityID] ASC,
	[lang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Profiles]    Script Date: 08/06/2017 19:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profiles](
	[ProfileID] [int] IDENTITY(1,1) NOT NULL,
	[codProfile] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Profiles] PRIMARY KEY CLUSTERED 
(
	[ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 08/06/2017 19:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[money] [float] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[done] [bit] NOT NULL,
	[Artwork_ArtworkID] [int] NULL,
	[User_UserID] [int] NULL,
 CONSTRAINT [PK_dbo.Transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Types]    Script Date: 08/06/2017 19:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.Types] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TypeTranslations]    Script Date: 08/06/2017 19:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeTranslations](
	[TypeID] [int] NOT NULL,
	[lang] [nvarchar](128) NOT NULL,
	[codType] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TypeTranslations] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC,
	[lang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 08/06/2017 19:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[surnames] [nvarchar](max) NULL,
	[nick] [nvarchar](max) NULL,
	[pass] [nvarchar](max) NULL,
	[address] [nvarchar](max) NULL,
	[tlf] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[Nationality_NationalityID] [int] NULL,
	[Profile_ProfileID] [int] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Artworks] ON 

INSERT [dbo].[Artworks] ([ArtworkID], [onStock], [img], [date], [dimensions], [Author_AuthorID], [Type_TypeID]) VALUES (1, 1, NULL, N'1503', N'77cm x 53cm', 3, 1)
INSERT [dbo].[Artworks] ([ArtworkID], [onStock], [img], [date], [dimensions], [Author_AuthorID], [Type_TypeID]) VALUES (2, 1, NULL, N'1888', N'72 cm × 90 cm', 6, 1)
INSERT [dbo].[Artworks] ([ArtworkID], [onStock], [img], [date], [dimensions], [Author_AuthorID], [Type_TypeID]) VALUES (3, 1, NULL, N'1889', N'73,7 cm × 92,2 cm', 6, 1)
SET IDENTITY_INSERT [dbo].[Artworks] OFF
INSERT [dbo].[ArtworkTranslations] ([ArtworkID], [lang], [title], [info]) VALUES (1, N'en-US', N'La Gioconda', N'Soon in english')
INSERT [dbo].[ArtworkTranslations] ([ArtworkID], [lang], [title], [info]) VALUES (1, N'es-ES', N'La Gioconda', N'El Retrato de Lisa Gherardini, esposa de Francesco del Giocondo, más conocido como La Gioconda, también conocida como La Mona Lisa. Su nombre, La Gioconda (la alegre, en castellano), deriva de la tesis más aceptada acerca de la identidad de la modelo: la esposa de Francesco Bartolomeo de Giocondo, que realmente se llamaba Lisa Gherardini, de donde viene su otro nombre: Mona (señora, del italiano antiguo) Lisa.')
INSERT [dbo].[ArtworkTranslations] ([ArtworkID], [lang], [title], [info]) VALUES (2, N'en-US', N'El dormitorio de Arlés', N'Soon in english')
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([AuthorID], [realName], [artName], [Nationality_NationalityID]) VALUES (1, N'Francisco de Goya y Lucientes', N'Goya', 1)
INSERT [dbo].[Authors] ([AuthorID], [realName], [artName], [Nationality_NationalityID]) VALUES (2, N'Pablo Ruiz Picasso', N'Picasso', 1)
INSERT [dbo].[Authors] ([AuthorID], [realName], [artName], [Nationality_NationalityID]) VALUES (3, N'Leonardo di ser Piero da Vinci', N'Leonardo da Vinci', 2)
SET IDENTITY_INSERT [dbo].[Authors] OFF
INSERT [dbo].[AuthorTranslations] ([AuthorID], [lang], [description]) VALUES (1, N'en-US', N'Pendiente de traducción')
INSERT [dbo].[AuthorTranslations] ([AuthorID], [lang], [description]) VALUES (1, N'es-ES', N'Su obra abarca la pintura de caballete y mural, el grabado y el dibujo. En todas estas facetas desarrolló un estilo que inaugura el Romanticismo. El arte goyesco supone, asimismo, el comienzo de la pintura contemporánea y es precursor de las vanguardias pictóricas del siglo XX; por todo ello, se le considera uno de los artistas españoles más relevantes y uno de los grandes maestros de la historia del arte.')
INSERT [dbo].[AuthorTranslations] ([AuthorID], [lang], [description]) VALUES (2, N'en-US', N'Pendiente de traducción')
SET IDENTITY_INSERT [dbo].[Langs] ON 

INSERT [dbo].[Langs] ([LangID], [codLang], [display]) VALUES (1, N'en-US', N'English')
INSERT [dbo].[Langs] ([LangID], [codLang], [display]) VALUES (2, N'es-ES', N'Español')
SET IDENTITY_INSERT [dbo].[Langs] OFF
SET IDENTITY_INSERT [dbo].[Nationalities] ON 

INSERT [dbo].[Nationalities] ([NationalityID]) VALUES (1)
INSERT [dbo].[Nationalities] ([NationalityID]) VALUES (2)
INSERT [dbo].[Nationalities] ([NationalityID]) VALUES (3)
SET IDENTITY_INSERT [dbo].[Nationalities] OFF
INSERT [dbo].[NationalityTranslations] ([NationalityID], [lang], [codNation]) VALUES (1, N'en-US', N'Spain')
INSERT [dbo].[NationalityTranslations] ([NationalityID], [lang], [codNation]) VALUES (1, N'es-ES', N'España')
INSERT [dbo].[NationalityTranslations] ([NationalityID], [lang], [codNation]) VALUES (2, N'en-US', N'Italy')
SET IDENTITY_INSERT [dbo].[Profiles] ON 

INSERT [dbo].[Profiles] ([ProfileID], [codProfile]) VALUES (1, N'Default')
INSERT [dbo].[Profiles] ([ProfileID], [codProfile]) VALUES (2, N'User')
INSERT [dbo].[Profiles] ([ProfileID], [codProfile]) VALUES (3, N'Admin')
SET IDENTITY_INSERT [dbo].[Profiles] OFF
SET IDENTITY_INSERT [dbo].[Types] ON 

INSERT [dbo].[Types] ([TypeID]) VALUES (1)
INSERT [dbo].[Types] ([TypeID]) VALUES (2)
INSERT [dbo].[Types] ([TypeID]) VALUES (3)
SET IDENTITY_INSERT [dbo].[Types] OFF
INSERT [dbo].[TypeTranslations] ([TypeID], [lang], [codType]) VALUES (1, N'en-US', N'Painting')
INSERT [dbo].[TypeTranslations] ([TypeID], [lang], [codType]) VALUES (1, N'es-ES', N'Cuadro')
INSERT [dbo].[TypeTranslations] ([TypeID], [lang], [codType]) VALUES (2, N'en-US', N'Sculpture')
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [name], [surnames], [nick], [pass], [address], [tlf], [email], [Nationality_NationalityID], [Profile_ProfileID]) VALUES (1, N'master', N'master', N'master', N'master', N'Local', N'988776655', N'master@gmail.com', 1, 4)
INSERT [dbo].[Users] ([UserID], [name], [surnames], [nick], [pass], [address], [tlf], [email], [Nationality_NationalityID], [Profile_ProfileID]) VALUES (2, N'Hermes', N'Iglesias Viera', N'admin1', N'Asd123', N'Via Giacinto Gigante, 8', N'609876543', N'admin1@hotmail.com', 2, 2)
INSERT [dbo].[Users] ([UserID], [name], [surnames], [nick], [pass], [address], [tlf], [email], [Nationality_NationalityID], [Profile_ProfileID]) VALUES (3, N'Marcella', N'Napolitano', N'mnapo', N'Asd123', N'Herrenberg 92', N'091 824 41 96', N'MarcellaNapolitano@dayrep.com', 7, 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_Author_AuthorID]    Script Date: 08/06/2017 19:17:04 ******/
CREATE NONCLUSTERED INDEX [IX_Author_AuthorID] ON [dbo].[Artworks]
(
	[Author_AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Type_TypeID]    Script Date: 08/06/2017 19:17:04 ******/
CREATE NONCLUSTERED INDEX [IX_Type_TypeID] ON [dbo].[Artworks]
(
	[Type_TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ArtworkID]    Script Date: 08/06/2017 19:17:04 ******/
CREATE NONCLUSTERED INDEX [IX_ArtworkID] ON [dbo].[ArtworkTranslations]
(
	[ArtworkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Nationality_NationalityID]    Script Date: 08/06/2017 19:17:04 ******/
CREATE NONCLUSTERED INDEX [IX_Nationality_NationalityID] ON [dbo].[Authors]
(
	[Nationality_NationalityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthorID]    Script Date: 08/06/2017 19:17:04 ******/
CREATE NONCLUSTERED INDEX [IX_AuthorID] ON [dbo].[AuthorTranslations]
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_NationalityID]    Script Date: 08/06/2017 19:17:04 ******/
CREATE NONCLUSTERED INDEX [IX_NationalityID] ON [dbo].[NationalityTranslations]
(
	[NationalityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Artwork_ArtworkID]    Script Date: 08/06/2017 19:17:04 ******/
CREATE NONCLUSTERED INDEX [IX_Artwork_ArtworkID] ON [dbo].[Transactions]
(
	[Artwork_ArtworkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_UserID]    Script Date: 08/06/2017 19:17:04 ******/
CREATE NONCLUSTERED INDEX [IX_User_UserID] ON [dbo].[Transactions]
(
	[User_UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TypeID]    Script Date: 08/06/2017 19:17:04 ******/
CREATE NONCLUSTERED INDEX [IX_TypeID] ON [dbo].[TypeTranslations]
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Nationality_NationalityID]    Script Date: 08/06/2017 19:17:04 ******/
CREATE NONCLUSTERED INDEX [IX_Nationality_NationalityID] ON [dbo].[Users]
(
	[Nationality_NationalityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Profile_ProfileID]    Script Date: 08/06/2017 19:17:04 ******/
CREATE NONCLUSTERED INDEX [IX_Profile_ProfileID] ON [dbo].[Users]
(
	[Profile_ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Artworks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Artworks_dbo.Authors_Author_AuthorID] FOREIGN KEY([Author_AuthorID])
REFERENCES [dbo].[Authors] ([AuthorID])
GO
ALTER TABLE [dbo].[Artworks] CHECK CONSTRAINT [FK_dbo.Artworks_dbo.Authors_Author_AuthorID]
GO
ALTER TABLE [dbo].[Artworks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Artworks_dbo.Types_Type_TypeID] FOREIGN KEY([Type_TypeID])
REFERENCES [dbo].[Types] ([TypeID])
GO
ALTER TABLE [dbo].[Artworks] CHECK CONSTRAINT [FK_dbo.Artworks_dbo.Types_Type_TypeID]
GO
ALTER TABLE [dbo].[ArtworkTranslations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ArtworkTranslations_dbo.Artworks_ArtworkID] FOREIGN KEY([ArtworkID])
REFERENCES [dbo].[Artworks] ([ArtworkID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ArtworkTranslations] CHECK CONSTRAINT [FK_dbo.ArtworkTranslations_dbo.Artworks_ArtworkID]
GO
ALTER TABLE [dbo].[Authors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Authors_dbo.Nationalities_Nationality_NationalityID] FOREIGN KEY([Nationality_NationalityID])
REFERENCES [dbo].[Nationalities] ([NationalityID])
GO
ALTER TABLE [dbo].[Authors] CHECK CONSTRAINT [FK_dbo.Authors_dbo.Nationalities_Nationality_NationalityID]
GO
ALTER TABLE [dbo].[AuthorTranslations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AuthorTranslations_dbo.Authors_AuthorID] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Authors] ([AuthorID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuthorTranslations] CHECK CONSTRAINT [FK_dbo.AuthorTranslations_dbo.Authors_AuthorID]
GO
ALTER TABLE [dbo].[NationalityTranslations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NationalityTranslations_dbo.Nationalities_NationalityID] FOREIGN KEY([NationalityID])
REFERENCES [dbo].[Nationalities] ([NationalityID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NationalityTranslations] CHECK CONSTRAINT [FK_dbo.NationalityTranslations_dbo.Nationalities_NationalityID]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transactions_dbo.Artworks_Artwork_ArtworkID] FOREIGN KEY([Artwork_ArtworkID])
REFERENCES [dbo].[Artworks] ([ArtworkID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_dbo.Transactions_dbo.Artworks_Artwork_ArtworkID]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transactions_dbo.Users_User_UserID] FOREIGN KEY([User_UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_dbo.Transactions_dbo.Users_User_UserID]
GO
ALTER TABLE [dbo].[TypeTranslations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TypeTranslations_dbo.Types_TypeID] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Types] ([TypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TypeTranslations] CHECK CONSTRAINT [FK_dbo.TypeTranslations_dbo.Types_TypeID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Nationalities_Nationality_NationalityID] FOREIGN KEY([Nationality_NationalityID])
REFERENCES [dbo].[Nationalities] ([NationalityID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Nationalities_Nationality_NationalityID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Profiles_Profile_ProfileID] FOREIGN KEY([Profile_ProfileID])
REFERENCES [dbo].[Profiles] ([ProfileID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Profiles_Profile_ProfileID]
GO
USE [master]
GO
